@media screen, projection {
    BODY.main { font-family: sans-serif; margin-left: 13em; background: #ddddff; color: #000000; }
    DIV.tmenu { position: fixed; background-color: #efefff; width: 12em; left: 0px; top: 0px; border-style: none; height: 100%; }
}

@media print {
    IFRAME.menu { display: none; }
}

@media only screen and (max-device-width: 480px) {
    BODY.main { font-family: sans-serif; margin: 0.5em; }
    DIV.tmenu { position: static; background-color: transparent; }
    DIV.nomobile {display:none;}
}

A:link { color: #000099 }
A:visited { color: #551a8b }
A:active { color: #3333ff }

P { text-align: justify; }

DIV.quote { margin-left: 50%; font-style: italic }

DIV.quoteauthor { margin-left: 50%; text-align: right; font-style: italic }
SPAN.blackframe { border: 1px solid black; padding-left:2px; padding-right:2px; }

TABLE.frm { border-collapse:collapse; }
TABLE.frm TR { background-color: #ffffff; }
TABLE.frm TR:nth-child(even) { background-color: #f0f0ff; }
TABLE.frm TH { border: 1px solid #7777cc; padding:3px; background-color: #7777cc; }
TABLE.frm TD { border: 1px solid #7777cc; padding:3px; vertical-align: top; }

UL { list-style-type: square }

LI { text-align: justify; margin-bottom: 1em }
